body {
    text-align: center;
    color: rgb(255, 255, 255);
    background: url(images/youmove_background1.jpg)center center no-repeat fixed;
    background-size: cover;
}

.user-form {
    margin: 25px auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#app_logo {
    width: 2.4em;
    height: 1.8em;
    border-radius: 35%;
}

.start_header {
    color: rgb(199, 24, 24);
    font-size: 24px;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
}

.start_header, legend, li {
    font-family: 'Stardos Stencil', cursive;
}

p {
    font-family: 'Monda', sans-serif;
    max-width: 60%;
    margin: 20px auto;
}

.hidden {
    display: none;
  }

li, label, select {
    margin: 0.5em auto;
}

label, select {
    display: block;
}

legend, li, label {
    font-size: 18px;

}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
}

.calorie-query {
    width: 25%;
}

h3 {
    color: rgb(199, 24, 24);
}

a:link, button {
    margin: 10px auto;
    padding: 2px 2px;
    border-radius: 4px;
    color: white;
    background-color: rgb(192, 17, 17);
}

a:focus {
    background: rgb(167, 162, 162);
}

a:link:hover, button:hover {
    background: lightgray;
    color: black;
    cursor: pointer;
}

a:visited {
    background-color: gb(192, 17, 17);
    color: black;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}